* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: $light-grayish-blue;
  padding: 74px 24px 81px;
}

.card {
  max-width: 327px;
  display: grid;
  background-color: white;
  border-radius: 10px;

  @media (min-width: 376px) {
    max-width: 730px;
    grid-template-columns: 285px 445px;
  }

  &__wrapper-image {
    grid-row-start: 1;
    grid-row-end: 3;

  }

  &__image {
    display: block;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    @media (min-width: 376px) {
      height: 100%;
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
    }
  }

  &__content {
    padding: 36px 32px 0;

    @media (min-width: 376px) {
      padding: 32px 40px 0;
    }
  }

  &__title {
    margin-bottom: 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: $very-dark-grayish-blue;

    @media (min-width: 376px) {
      margin-bottom: 12px;
      font-size: 20px;
      line-height: 140%;
    }
  }

  &__description {
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.01em;
    color: $desaturated-dark-blue;

    @media (min-width: 376px) {
      margin-bottom: 20px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 32px 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    @media (min-width: 376px) {
      padding-top: 0;
      justify-content: stretch;
      background-color: white !important;
      padding: 0 40px 32px;
    }
  }

  &__author {
    max-width: 172px;
    display: flex;
    margin-right: auto;
  }

  &__author-image {
    margin-right: 16px;
    border-radius: 100%;
  }

  &__author-name {
    font-weight: 700;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.01em;
    color: $very-dark-grayish-blue;
  }

  &__date {
    font-weight: 500;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.01em;
    color: $grayish-blue;
  }

  &__wrapper-button {
    display: flex;
  }

  &__button {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: none;
    cursor: pointer;
  }
}
